.fileCell{
  margin-bottom: 2px;
  padding: 10px;
  background-color: #fff;
  cursor: pointer;
}
.fileCell:hover{
  background-color: #ecf0f1;
}

.folderCell{
  margin-bottom: 2px;
  padding: 10px;
  background-color:#fff;
  cursor: pointer;
}
.folderCell:hover{
  background-color: #ecf0f1;
}
.fliesList{
  padding-top:20px;
}

.fileCellOption{
  visibility:hidden;
  transition: 0s;
}

.fileCell:hover .fileCellOption{
  visibility:visible
}

.folderCell:hover .fileCellOption{
  visibility:visible
}
.fileCellOptionBtn{
  transition:font-size 0.3s;
}
.fileCellOptionBtn:hover{
  font-size: 20px;
}